*.x
*.o
*.a
*.so
*.log
*.txt

bin/
obj/
.env/

# Visual Studio
.vs/
.vscode/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# CMake
CMakeFiles/
CMakeCache.txt
build/
*.cmake
.cache/
*.in
compile_commands.json

# Sistema operativo
.DS_Store
Thumbs.db

